/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #000000;
}

h4 {
    font-size: 14px;
}
span {
    font-size: 12px;
}

.inline-b {
    display: inline-block;
    vertical-align: middle;
}

.flex {
    display: flex;
}

.white-txt {
    color: #ffffff;
}
.grey-txt {
    color: #636363;
}
.uppercase {
    text-transform: uppercase;
}
/* --Common */

/* Top of the page */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.5);
}
header h4 {
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin: 15px;
    padding: 5px 30px;
}
/* --Top of the page */

/* Sidebar */
nav {
    width: 220px;
    height: calc(100vh - 80px);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    background-color: #000000;
}
nav > div {
    padding: 0 30px;
}

#logo {
    height: 40px;
    margin: 15px 0;
}
#small-logo {
    display: none;
}

#links div {
    margin: 10px 0;
}
#links img {
    height: 20px;
    margin-right: 10px;
}
#home {
    border-left: 2px solid #adff2f;
}

#playlist h4 {
    margin-top: 30px;
}
#playlist i {
    padding: 8px;
    margin: 10px 10px 10px 0;
    background-color: #636363;
}

.name {
    margin: 10px 0;
}

#nav-btm i {
    padding: 3px;
    margin-right: 10px;
    border: 1px solid #636363;
    border-radius: 50%;
}
#nav-btm hr {
    margin: 10px 0;
    border-color: #636363;
}
#nav-btm img {
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #636363;
}
/* --Sidebar */

/* Body of the page */
main {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 230px;
    margin-right: 0;
    background-color: #141922;
}
main > .flex:not(.recently) {
    justify-content: center;
}
main > .flex > ul > li {
    margin: 0 10px;
    font-size: 14px;
}

main h2 {
    margin: 30px 0;
}

.recently {
    flex-wrap: wrap;
}
.image {
    width: calc((100% / 6) - 20px);
    display: inline-block;
    position: relative;
    margin-right: 15px;
    text-align: center;
}
.image img {
    width: 100%;
    margin-bottom: 20px;
}
/* --Body of the page */

/* Footer */
footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #282828;
}

#footer-left {
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
#footer-left img {
    height: 50px;
    margin-right: 10px;
}

#footer-center {
    width: 50%;
    padding-top: 10px;
}
#footer-center .flex {
    position: relative;
    justify-content: center;
    align-items: center;
}
#footer-center i {
    margin: 0 5%;
}
#footer-center .flex hr {
    width: 20%;
    height: 4px;
    margin: 0 1%;
    border-radius: 10px;
    border-color: #636363;
    background-color: #636363;
}

#footer-right {
    width: 25%;
    justify-content: flex-end;
    align-items: center;
}
#footer-right i {
    margin: 0 3%;
}
#footer-right hr {
    width: 20%;
    height: 4px;
    margin: 0 1%;
    border-radius: 10px;
    border-color: #636363;
    background-color: #636363;
}
/* --Footer */

/* Tablet landscape specific */
@media screen and (min-width: 992px) and (max-width: 1199px) {

    .image {
        width: calc((100% / 4) - 20px);
        margin-bottom: 40px;
    }

}
/* --Tablet landscape specific */

/* Tablet portrait specific */
@media screen and (min-width: 768px) and (max-width: 991px) {

    .image {
        width: calc((100% / 2) - 20px);
        margin-bottom: 30px;
    }

}
/* --Tablet portrait specific */

/* Smartphone specific */
@media screen and (max-width: 767px) {

    nav {
        width: 50px;
    }

    h2 {
        font-size: 16px;
    }

    #logo {
        display: none;
    }
    #small-logo {
        height: 30px;
        display: block;
        margin-top: 10px;
        margin-left: 0;
        padding-left: 0;
    }

    #nav-top span,
    #nav-top h4,
    #nav-top i,
    #nav-btm span {
        display: none;
    }

    #

    main {
        width: calc(100% - 50px);
        padding-left: 60px;
    }
    main > .flex > ul > li {
        font-size: 10px;
    }
    .image {
        width: calc((100% / 2) - 20px);
        margin-bottom: 20px;
    }
    .image h3 {
        font-size: 14px;
    }

    #footer-left,
    #footer-center,
    #footer-right {
        font-size: 10px;
    }
    #footer-left,
    #footer-center {
        width: 40%;
    }
    #footer-left span {
        font-size: 8px;
    }
    #footer-left img {
        height: 25px;
        display: inline-block;
    }
    #footer-right {
        width: 20%;
        justify-content: center;
    }

}
/* --Smartphone specific */