/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #000000;
}

h4 {
    font-size: 14px;
}
span {
    font-size: 12px;
}

.inline-b {
    display: inline-block;
    vertical-align: middle;
}

.flex {
    display: flex;
}

.white-txt {
    color: #ffffff;
}
.grey-txt {
    color: #636363;
}
.uppercase {
    text-transform: uppercase;
}
/* --Common */

/* Top of the page */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: #080b12;
}
header h4 {
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin: 15px;
    padding: 5px 30px;
}
/* --Top of the page */

/* Sidebar */
nav {
    width: 20%;
    height: calc(100vh - 80px);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}
nav > div {
    padding: 0 30px;
}

#logo {
    height: 50px;
    margin: 15px 0;
}

#links div {
    margin: 10px 0;
}
#links img {
    height: 20px;
    margin-right: 10px;
}
#home {
    border-left: 2px solid #adff2f;
}

#playlist h4 {
    margin-top: 30px;
}
#playlist i {
    padding: 8px;
    margin: 10px 10px 10px 0;
    background-color: #636363;
}

.name {
    margin: 10px 0;
}

#nav-btm i {
    padding: 3px;
    margin-right: 10px;
    border: 1px solid #636363;
    border-radius: 50%;
}
#nav-btm hr {
    margin: 10px 0;
    border-color: #636363;
}
#nav-btm img {
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #636363;
}
/* --Sidebar */

/* Body of the page */

/* --Body of the page */

/* Footer */
footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #282828;
}

#footer-left {
    width: 18%;
    justify-content: space-between;
    align-items: center;
}
#footer-left img {
    height: 60px;
    margin-right: 10px;
}

#footer-center {
    width: 62%;
}
#footer-center .flex {
    position: relative;
    justify-content: center;
    align-items: center;
}
#footer-center i {
    margin: 0 10px;
}
#footer-center .flex hr {
    width: 20%;
    height: 4px;
    margin: 0 10px;
    border-radius: 10px;
    border-color: #636363;
    background-color: #636363;
}
#footer-center .flex .progress {
    width: 5%;
    position: absolute;
    left: 39%;
    border-color: #c1c1c1;
    background-color: #c1c1c1;
}
#footer-right {
    width: 18%;
    align-items: center;
    position: relative;
}
#footer-right i {
    margin: 0 10px;
}
#footer-right hr {
    width: 20%;
    height: 4px;
    margin: 0 10px;
    border-radius: 10px;
    border-color: #636363;
    background-color: #636363;
}

#footer-right .progress {
    width: 5%;
    position: absolute;
    left: 33%;
    border-color: #c1c1c1;
    background-color: #c1c1c1;
}
/* --Footer */